---
permalink: "/assets/js/bundle.js"
---
{% set js %}
{% include "../assets/js/main.js" %}
{% include "../assets/js/search.js" %}
{% include "../assets/js/prism.js" %}
{% endset %}
{{ js | minifyJs | safe }}